<div class="container">
    <header></header>
    <div class="body">
        <main>
            <h1>Hola Mundo </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quidem laborum maiores ipsam consequuntur at repudiandae incidunt suscipit modi, eligendi obcaecati quaerat praesentium nostrum fuga alias, deleniti, vitae vero cupiditate?</p>
            <p>Ratione voluptatum fugiat veniam ea velit eos dignissimos, nulla corporis optio quasi, facere sit quibusdam placeat sunt iure soluta vero nam, eum hic nobis nihil? Corporis ullam praesentium in deserunt.</p>
            <p>Distinctio quasi magnam dolor deleniti vitae, blanditiis ducimus odio sapiente explicabo suscipit dolorum sint, quibusdam in ullam nisi ea, dolore voluptate sed ex. Mollitia odio rem natus ipsum? Quidem, adipisci.</p>
            <p>Aperiam rerum excepturi ab at explicabo aliquid deserunt exercitationem illum earum alias, nostrum, totam, ipsum hic! Voluptatibus similique ipsa ex dignissimos cupiditate quia, itaque modi odit sed atque rem dolorum.</p>
        </main>
        <aside>
            <h2>Soy un sidebar</h2>
            <h3>Soy un h3</h3>
        </aside>
    </div>
</div>