<div class="modal" [ngClass]="{active: ocultar}">
    <div class="content">
        <h1>Esto es una ventana modal</h1>
        <p>Creada en el curso de CSS Avanzado</p>
        <button (click)="cambiarEstilo()">Cerrar modal</button>
    </div>
</div>

<div class="contenedor">    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus delectus neque, quidem ratione eius dolores officia quibusdam magnam, error repudiandae voluptatum, obcaecati fugit. Vitae, eius id. Aut, facilis quidem!</p>
    <p>Debitis, temporibus omnis amet illum earum atque consequatur, sint, non porro dolor quia quod. Debitis earum soluta dignissimos itaque porro ratione eum dolor fuga est temporibus mollitia, distinctio et ut!</p>
    <p>Assumenda cumque ab obcaecati alias, aliquam ratione, blanditiis laborum commodi totam cum, illo quae optio quasi facilis quos. Dolores earum maxime minus est. Mollitia illum corrupti optio voluptas. Tenetur, praesentium!</p>
    <p>Quisquam, obcaecati, neque accusantium optio earum dolor aliquam blanditiis ratione quae deserunt sit iste veniam nemo quia velit ab! Quasi odit at perferendis soluta ad deleniti necessitatibus dolores voluptas rerum!</p>
    <p>Corporis sint sunt amet distinctio ea quis cupiditate dolor nihil delectus, eveniet possimus accusamus deleniti perspiciatis autem rem non error accusantium quod. Molestiae dicta quasi tempora eveniet qui voluptatum vero?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit iste repellat nulla. Obcaecati assumenda necessitatibus possimus debitis! Minima, eveniet assumenda labore neque quisquam placeat porro doloremque blanditiis tempore nobis dignissimos?</p>
    <p>Nostrum voluptatibus voluptates quaerat non officiis beatae eius veniam fugiat perferendis. Totam eos distinctio, sint minus ullam obcaecati iusto dolor repellendus, aperiam magnam dolore ratione quidem praesentium delectus rerum maxime?</p>
    <p>Asperiores alias deleniti ex voluptatibus est adipisci quam suscipit facilis pariatur architecto nesciunt consectetur cum nemo optio quod quae magnam corrupti aliquid esse soluta velit, ipsum ea repellat molestiae. Aspernatur!</p>
    <p>Asperiores natus laborum iure omnis saepe eligendi iste dicta, sit eveniet sequi tenetur, impedit aspernatur veritatis nam quod. Mollitia libero minus voluptatum quae magni deleniti saepe officia, blanditiis sed aperiam?</p>
    <p>Laudantium veritatis, odit accusamus repudiandae officia expedita deserunt quod assumenda vero accusantium provident ipsum libero reprehenderit cumque id vitae doloremque temporibus? Possimus modi ipsam iure, accusamus voluptas sit iste ad!</p>
    <p>Officiis reiciendis iste dignissimos porro corporis reprehenderit pariatur ipsam impedit nesciunt necessitatibus totam magnam ut nam iusto excepturi autem dolorem atque accusamus facilis ex deleniti fugiat, sequi consequatur. Ad, a.</p>
    <p>Voluptate dicta velit nostrum cumque ipsa, laborum omnis commodi, corrupti qui error blanditiis nihil. Unde quas ipsum eaque, adipisci a assumenda nam incidunt ex ab, veniam commodi ea. Quibusdam, nobis.</p>
    <p>Labore recusandae, veniam quod quisquam tempore temporibus voluptas accusamus vero ducimus aliquid cupiditate explicabo exercitationem officiis fugit modi, molestiae esse dignissimos, quia et quidem eligendi est laudantium soluta. Provident, pariatur.</p>
    <p>Optio libero suscipit fugiat, error placeat corporis hic repudiandae ea? Quod vitae, recusandae qui nisi cumque sapiente ducimus molestiae, quo dolor necessitatibus suscipit esse delectus sequi maiores architecto, repellat accusamus?</p>
    <p>Soluta esse voluptate vel sed necessitatibus pariatur excepturi sit minus animi vitae, repellendus maxime repudiandae cumque accusantium nam voluptatum, deserunt, nostrum adipisci ad? Accusamus aliquam nobis omnis eligendi sequi iusto!</p>
    <button (click)="cambiarEstilo()">Abrir modal</button>
</div>