<header class="header">
    <ul class="menu">
        <li><a href="">Inicio</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Servicios</a></li>
        <li><a href="">Nosotros</a></li>
    </ul>
</header>
<div class="contenedor">    
    <h1>Hola Mundo</h1>
    <p class="fixed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, corporis? Perferendis harum impedit inventore qui sit, quaerat laborum est reprehenderit molestiae, facere eos? Neque, nostrum consectetur quasi placeat quae expedita!</p>
    <p>Sapiente laudantium eum reiciendis vel quas sint nemo. Maxime porro, placeat minima voluptas consequuntur distinctio, eveniet dolores doloremque dolorem nesciunt error architecto non neque nam sequi soluta praesentium debitis dolore.</p>
</div>