<div class="container">
    <h1>Curso Avanzado CSS</h1>
    <p class="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam beatae perspiciatis alias reprehenderit voluptas ea adipisci vero rerum nobis quos veritatis, rem repellendus ab deleniti sit, fugiat harum eius animi.</p>
    <p class="p-2">Labore, odio dolores sequi laboriosam, atque a et cum provident vitae veniam, sit delectus optio ab error. Id sequi illo aperiam mollitia? Reprehenderit cumque enim excepturi vero. Aut, amet itaque.</p>
    <p class="p-3">Dicta sit, quas a laboriosam ex quasi eligendi reiciendis quos unde odit molestiae accusantium maiores ipsam deserunt sed aperiam omnis? Libero sint, consequatur id a pariatur sequi voluptates odio molestias.</p>
</div>