.container{
    display: flex;
    flex-direction: column;
}

.p-2{
    background: tomato;
    /* Con order, nos ayuda a poner los elementos antes, pero solo visualmente
    porque en el html, no lo modifica */
    order : -1;
}

/* la pseudoclase :not, es todo lo que no es .p-2 */
:not(.p-2){
    order:1000;
}