<nav class="navbar">
  <ul class="menu">
    <li class="img"><a [routerLink]="['']">
      <img  src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_css_icon_130661.png"  height="25px"/>
    </a></li>
    <li class="item">
      Position
      <ul class="submenu">
        <li class="item"> <a class="link" [routerLink]="['/position/flujo']">Flujo</a> </li>
        <li class="item"> <a class="link" [routerLink]="['/position/espacio-reservado']">Espacio Reservado</a> </li>
        <li class="item"> <a class="link" [routerLink]="['/position/offset']">Offset</a> </li>
        <li class="item"> <a class="link" [routerLink]="['/position/relative']">Position Relative</a> </li>
        <li class="item"> <a class="link" [routerLink]="['/position/absolute']">Position Absolute</a> </li>
        <li class="item"> <a class="link" [routerLink]="['/position/tooltip']">Ejercicio Tooltip</a> </li>
        <li class="item"> <a class="link" [routerLink]="['/position/menu']">Menú Desplegable</a> </li>
      </ul>
    </li>
    <li class="item">
      Position II
      <ul class="submenu">
        <li class="item"> <a class="link" [routerLink]="['/position2/fixed']">Fixed y Sticky</a> </li>
      </ul>
    </li>
    <li class="item">Variables CSS</li>
    <li class="item">Pseudo Elementos</li>
    <li class="item">Listas y Contenedores</li>
    <li class="item">Texto</li>
    <li class="item">Tablas y Formularios</li>
  </ul>
</nav>

<router-outlet />
