.navbar{
    background: var(--blue-dark-sotec);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.26);
    height: 3rem;
    width: 100%;
}
.menu{
    display: flex;
    width: 100%;
    list-style: none;
}


.menu > .item{
    padding: 1rem;
    display: inline-block;
    height: 100%;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color:var(--white-sotec);
    position:relative;
    width: max-content;
}

.menu > .img{
    padding:0 1rem;
    height: inherit;
    display: flex;
    align-items: center;
}

.menu .item:hover{
    background-color: var(--blue-sotec);
    cursor: pointer;
}

.menu .item:hover > .submenu{
    display: flex;
    flex-direction: column;
}


.submenu{
    display:none;
    position: absolute;
    list-style: none;;
    top:100%;
    background-color: var(--blue-sotec);
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.26);
    border-radius: 5px;
    width: max-content;
    z-index: 100;
    padding: .5rem 0;
}

.link{
    display: inline-block;
    text-decoration: none;
    color: var(--white-sotec);
    width: 100%;
    height: 100%;
    padding: 0.5rem .6rem;
    border-radius: 5px;
}

.submenu .item{
    font-size: .85rem;
    font-family: 'Roboto', sans-serif;
    padding: 0 .4rem;
    border-radius: 5px;
}

.item .link:hover{
    background-color: var(--blue-light-sotec);
}

/* Nota importante, al hacer los menus, con css, al momento de
dar click a la opción, el menú no desaparece hasta que saques el
mouse del menu, pero es mejor para no hacer
el montonal de directivas con if y sus respectivos métodos
así le hacen en edteam*/