<div class="navbar">
  <ul class="menu">
    <li><a [routerLink]="['']">
      <img  src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_css_icon_130661.png" width="25px" height="25px"/>
    </a></li>
    <li (click)="togglePositionMenu()">
      Position
      @if(positionMenu) {
        <div class="submenu" (click)="togglePositionMenu()">
          <a (click)="togglePositionMenu()" [routerLink]="['/position/flujo']">Flujo</a>
          <a (click)="togglePositionMenu()" [routerLink]="['/position/espacio-reservado']">Espacio Reservado</a>
          <a (click)="togglePositionMenu()" [routerLink]="['/position/offset']">Offset</a>
          <a (click)="togglePositionMenu()" [routerLink]="['/position/relative']">Position Relative</a>
          <a (click)="togglePositionMenu()" [routerLink]="['/position/absolute']">Position Absolute</a>
        </div>
      }
  </li>
    <li>Position II</li>
    <li>Variables CSS</li>
    <li>Pseudo Elementos</li>
    <li>Listas y Contenedores</li>
    <li>Texto</li>
    <li>Tablas y Formularios</li>
  </ul>
</div>

<router-outlet />
