<header class="header">
    <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="#" class="link">Inicio</a></li>
            <li class="item"><a href="#" class="link">Servicios</a>
                <ul class="menu submenu">
                    <li class="item"><a href="#" class="link">Programación</a></li>
                    <li class="item"><a href="#" class="link">Diseño</a>
                        <ul class="menu submenu">
                            <li class="item"><a href="#" class="link">Css</a></li>
                            <li class="item"><a href="#" class="link">Css-Avanzado</a></li>
                            <li class="item"><a href="#" class="link">Responsive</a></li>
                        </ul>
                    </li>
                    <li class="item"><a href="#" class="link">Marketing</a></li>
                </ul>
            </li>
            <li class="item"><a href="#" class="link">Sobre Nosotros</a></li>
            <li class="item"><a href="#" class="link">Contacto</a></li>
        </ul>
    </nav>
</header>