:root{
    --dark-sotec: #4b4b4b;
    --orange-sotec: #f58634;
    --blue-dark-sotec: #374a8f;
    --blue-sotec: #2961ab;
    --blue-light-sotec: #00afef;
    --purple-sotec: #3e4095;
    --white-sotec:#eee;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    padding: 1rem;
}