.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
}